<ion-view title="Home">
  <ion-nav-bar>
      <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-ios-search" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-tabs class="tabs-icon-top">
      <!-- Map Tab View -->
      <ion-tab title="Map" icon="icon ion-map" ui-sref="app.home.map">
          <ion-nav-view name="tab-map"></ion-nav-view>
      </ion-tab>


      <!-- Card Tab View -->
      <ion-tab title="Cards" icon="icon ion-ios-browsers" ui-sref="app.home.card">
          <ion-nav-view name="tab-card"></ion-nav-view>
      </ion-tab>


      <!-- List Tab View -->
      <ion-tab title="List" icon="icon ion-ios-paper" ui-sref="app.home.list">
          <ion-nav-view name="tab-list"></ion-nav-view>
      </ion-tab>
  </ion-tabs>
</ion-view>
