<ion-view title="">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
        nav-clear ng-click="startApp()" ng-if="!slideIndex">
        Skip
      </button>
      <button class="button button-positive button-clear no-animation"
        ng-click="previous()" ng-if="slideIndex > 0">
        Back
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"> 
      <button class="button button-positive button-clear no-animation"
        ng-click="next()" ng-if="slideIndex != 2">
        Next
      </button>
      <button class="button button-positive button-clear no-animation"
        nav-clear ng-click="startApp()" ng-if="slideIndex == 2">
        Explore
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
        <ion-content>
          <h3 style="margin-top: 15px;">Welcome to Trendicity</h3>
          <div id="logo">
            <img src="img/placeholder-city.jpg">
          </div>
            <p>
                Explore Instagram posts by popular locations,
            </p>
            <p>
                or Log In to visualize your feed on a map.
            </p>
        </ion-content>
    </ion-slide>

      <ion-slide>
          <h3>Using Trendicity</h3>
          <div id="list">
              <ol>
                  <li>Explore</li>
                  <li>Swipe</li>
                  <li>Favorite</li>
              </ol>
          </div>
      </ion-slide>

    <ion-slide>
      <h3>Developed by <br /><a href="javascript:void(0)" ng-click="openWindow('http://thehybridcollective.org')">The Hybrid Collective</a></h3>
      <br />
      <h4>
        A companion app for the <br />"<a href="javascript:void(0)" ng-click="openWindow('http://shop.oreilly.com/product/9781939902160.do')">Developing an Ionic Edge</a>" book.
      </h4>
    </ion-slide>
  </ion-slide-box>
</ion-view>
