<ion-view id="intro" ng-class="{ 'slide-center': slideIndex == 1, 'slide-right': slideIndex == 2 }" hide-back-button="true" cache-view="false">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear"
        ng-click="startApp()" ng-show="!slideIndex">
        Skip
      </button>
      <button class="button button-positive button-clear"
        ng-click="previous()" ng-show="slideIndex > 0">
        Back
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right"> 
      <button class="button button-positive button-clear"
        ng-click="next()" ng-show="slideIndex != 2">
        Next
      </button>
      <button class="button button-positive button-clear"
        ng-click="startApp()" ng-show="slideIndex == 2">
        Explore
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <ion-slide-box class="slide-box-positive" on-slide-changed="slideChanged(index)">
      <ion-slide class="vertical-center-container">
          <div class="vertical-center">
            <h4>Welcome to Trendicity</h4>
            <div id="logo"></div>
            <p class="intro-text">
              Explore nearby Instagram posts on a map.
            </p>
            <p class="intro-text">
              View nearby or trending posts as cards or in a list.
            </p>
            <p class="intro-text">
              Login to see your feed and liked posts.
            </p>
          </div>
      </ion-slide>

      <ion-slide class="vertical-center-container">
          <div class="vertical-center padding">
            <div id="intro-info" class="text-center">
              <h2><i class="icon ion-earth positive"></i></h2>
              <h4>Explore</h4>
              <hr>
              <h2><i class="icon ion-android-exit"></i></h2>
              <h4>Swipe</h4>
              <hr>
              <h2><i class="icon ion-heart assertive"></i></h2>
              <h4>Favorite</h4>
            </div>
          </div>
      </ion-slide>

      <ion-slide class="vertical-center-container">
        <div class="vertical-center">
          <h4 class="text-center">Developed by the Hybrid Collective</h4>
          <div class="row">
            <div class="col">
              <img class="full-image rounded-image" src="img/authors/diego.jpg">
              <p class="intro-text">Diego</p>
            </div>
            <div class="col">
              <img class="full-image rounded-image" src="img/authors/alan.jpg">
              <p class="intro-text">Alan</p>
            </div>
            <div class="col">
              <img class="full-image rounded-image" src="img/authors/robin.jpg">
              <p class="intro-text">Robin</p>
            </div>
            <div class="col">
              <img class="full-image rounded-image" src="img/authors/keith.jpg">
              <p class="intro-text">Keith</p>
            </div>
            <div class="col">
              <img class="full-image rounded-image" src="img/authors/anton.jpg">
              <p class="intro-text">Anton</p>
            </div>
          </div>
          <h4>A companion app for the<br/>"Developing an Ionic Edge" book.</h4>

          <div class="button-bar-vertical padding">
            <a href="javascript:void(0)" ng-click="openWindow('http://thehybridcollective.org')" class="button button-light">About the Hybrid Collective</a>
            <a href="javascript:void(0)" ng-click="openWindow('http://bleedingedgepress.com/developing-ionic-edge')" class="button button-light">Get Developing an Ionic Edge book</a>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
