<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
          <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close class="item-icon-left" ui-sref="app.home.map" ui-sref-opts="{ reload: true,  inherit:false }">
          <icon ios="ion-ios-home" default="ion-home"></icon>
          Home
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.favorites">
          <icon ios="ion-ios-star" default="ion-star"></icon>
          Favorites
        </ion-item>
        <ion-item menu-close class="item-icon-left" ui-sref="app.intro">
          <icon ios="ion-ios-information" default="ion-information-circled"></icon>
          About
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="login()" ng-hide="isLoggedIn()">
            <i class="icon ion-log-in"></i>
            Login
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="logout()" ng-show="isLoggedIn()">
            <i class="icon ion-log-out"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
