<ion-view title="Map View">
  <ion-content class="has-header">
      <div data-tap-disabled="true" id="googleMap" ng-if="retrievedPosition">
          <ui-gmap-google-map
                  center="mapCtrl.mapOptions.center"
                  zoom="mapCtrl.mapOptions.zoom"
              >
              <ui-gmap-marker
                  ng-repeat="marker in mapCtrl.getMarkers()"
                  idKey="marker.id"
                  coords='marker.coords'
                  icon='marker.icon'
                  click='mapCtrl.showThumbnail(marker)'
                  >
                  <ui-gmap-window isIconVisibleOnClick="true">
                      <img
                          ng-src="{{ marker.postData.images.low_resolution.url }}"
                          width="{{marker.postData.images.low_resolution.width}}"
                          height="{{marker.postData.images.low_resolution.height}}">
                  </ui-gmap-window>
              </ui-gmap-marker>

          </ui-gmap-google-map>
      </div>
      <!--<div class="spinner ng-hide" ng-show="!retrievedPosition"></div>-->
  </ion-content>
</ion-view>
