.ng-hide {
  display: none;
}
.scroll {
  height: 100%;
}

.vertical-center-container {
  height: 100%;

  @include display-flex();
  @include justify-content(center);
  @include align-items(center);

  .vertical-center {
    width: 100%;
    
    @include display-flex();
    @include flex-direction(column);
  }
}

.rounded-image {
  border-radius: 50%;
}

.intro-text {
  margin-bottom: $content-padding / 2;

  &:last-child {
    margin-bottom: 0;
  }
}

#logo {
  margin: 15px 0px;
  height: 200px;
  background-image: url('../img/placeholder-city.jpg');
  background-size: cover;
  background-position: center;
}

#login {
  background-image: url('../img/instagram.jpg');
  background-size: cover;
  background-position: center;

  .row {
    margin-top: -$bar-height;
    padding: $login-margin 20px;
  }

  .button-block {
    margin-top: $login-margin / 2;
    margin-bottom: 0;
  }
}

#intro {
  background-image: url('../img/intro.jpg');
  background-size: cover;
  background-position: left;

  -webkit-transition: background-position 0.2s ease-in-out;
  transition: background-position 0.2s ease-in-out;

  // Override default Ionic view inline styling
  -webkit-transition-duration: 0.2s !important;
  transition-duration: 0.2s !important;

  .bar,
  .scroll-content {
    background-color: rgba(255, 255, 255, 0.9);
    border: 0;
  }

  &.slide-center {
    background-position: center;
  }

  &.slide-right {
    background-position: right;
  }
}

#intro-info {
  width: 150px;
  margin: 0 auto;
}

.modal-backdrop {
  z-index: 99999;
}
