.scroll {
  height: 100%;
}

.vertical-center-container {
  height: 100%;

  @include display-flex();
  @include justify-content(center);
  @include align-items(center);

  .vertical-center {
    width: 100%;
    @include display-flex();
    @include flex-direction(column);
  }
}

#logo {
  margin: 15px 0px;
}

#login {
  background-image: url('../img/instagram.jpg');
  background-size: cover;
  background-position: center;

  .row {
    margin-top: -$bar-height;
    padding: $login-margin 20px;
  }

  .button-block {
    margin-top: $login-margin / 2;
    margin-bottom: 0;
  }
}