.button {
    &.button-light {
        @include button-clear($light);
    }

    &.button-right {
        position: absolute;
        right: $bar-padding-portrait;
    }
}

.button-bar-vertical {
  > .button {
    @extend .button-block;
    margin: 0;
    border-bottom-width: 0;
  }

  > .button:last-child {
    border-bottom-width: $button-border-width;
  }
}