.slide-box-positive {
  .slider-pager .slider-pager-page {
    color: $positive;
  }
}

.slider {
  height: 100%;
}

.slider-slide {
  color: #000;
  text-align: center;

  font-family: $font-family-light-sans-serif;
  font-weight: 300;
}

.popup .slider-slide {
    padding-top: 0;
}
