// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionicons/fonts" !default;
$popup-background-color: white;

$login-margin: 50px;
$list-margin: 30px;