// Override Ionic and define variables
@import "variables";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include custom styles
@import "base";
@import "list";
@import "bar";
@import "map";
@import "button";
@import "tdcards";
@import "slide-box";
