// Override Ionic and define variables
@import "variables";

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include all of Ionicons
@import "www/lib/ionicons/scss/ionicons";

// Include custom styles
@import "base";
@import "list";
@import "bar";
@import "map";
@import "spinner";
@import "button";
@import "tdcards";
@import "slide-box";
@import "input";
@import "popup";
