// The path for our ionicons font files, relative to the built CSS in www/css
// $ionicons-font-path: "../vendor/ionic/fonts" !default;
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "../lib/ionic/scss/ionic";

// Include custom styles
@import "base";
@import "map";
@import "tdcards";