<form name="formAddFavorite" ng-submit="onSubmit({ favorite: favorite })" no-validate>
  <label class="item item-input item-floating-label" ng-class="{ 'item-error': formAddFavorite.city.$dirty && formAddFavorite.city.$invalid, 'item-valid': formAddFavorite.city.$valid }">
    <span class="input-label">City</span>
    <input type="text" name="city" ng-model="favorite.city" placeholder="City" required="required">
  </label>
  <label class="item item-input item-floating-label" ng-class="{ 'item-error': formAddFavorite.region.$dirty && formAddFavorite.region.$invalid, 'item-valid': formAddFavorite.region.$valid }">
    <span class="input-label">Country</span>
    <input type="text" name="region" ng-model="favorite.region" placeholder="Country" required="required">
  </label>
  <button class="button button-full button-positive" type="submit">Add</button>
</form>