<form name="formAddFavorite" no-validate>
  <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formAddFavorite.$attempt && formAddFavorite.city.$invalid, 'item-valid': formAddFavorite.city.$valid }">
    <span class="input-label">City</span>
    <input type="text" name="city" ng-model="favorite.city" placeholder="Dallas" required="required">
  </label>
  <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formAddFavorite.$attempt && formAddFavorite.region.$invalid, 'item-valid': formAddFavorite.region.$valid }">
    <span class="input-label">State or Country</span>
    <input type="text" name="region" ng-model="favorite.region" placeholder="TX" required="required">
  </label>
  <button class="button button-full button-positive" type="button" ng-click="submit()">Add</button>
</form>
