<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">End User License Agreement</h1>
    </ion-header-bar>
    <ion-content>
        <strong>Note: Scroll to the bottom to Accept</strong>
        <br/>
        <br/>
        <div>
        This End User License Agreement (“Agreement”) is between you and Trendicity and governs use of this app made available through the Apple App Store. By installing the Trendicity App, you agree to be bound by this Agreement and understand that there is no tolerance for objectionable content. If you do not agree with the terms and conditions of this Agreement, you are not entitled to use the Trendicity App.
        In order to ensure Trendicity provides the best experience possible for everyone, we strongly enforce a no tolerance policy for objectionable content. If you see inappropriate content, please use the “Report as offensive” feature associated with each post.
        <br />
        1. Parties
        <br />
        This Agreement is between you and Trendicity only, and not Apple, Inc. (“Apple”). Notwithstanding the foregoing, you acknowledge that Apple and its subsidiaries are third party beneficiaries of this Agreement and Apple has the right to enforce this Agreement against you. Trendicity, not Apple, is solely responsible for the Trendicity App and its content.
        <br />
        2. Privacy
        <br />
        Trendicity may collect and use information about your usage of the Trendicity App, including certain types of information from and about your device. Trendicity may use this information, as long as it is in a form that does not personally identify you, to measure the use and performance of the Trendicity App.
        <br />
        3. Limited License
        <br />
        Trendicity grants you a limited, non-exclusive, non-transferable, revocable license to use theTrendicity App for your personal, non-commercial purposes. You may only use theTrendicity App on Apple devices that you own or control and as permitted by the App Store Terms of Service.
        <br />
        4. Objectionable Content Policy
        Content may not be submitted to Trendicity, who will moderate all content and ultimately decide whether or not to post a submission to the extent such content includes, is in conjunction with, or alongside any, Objectionable Content. Objectionable Content includes, but is not limited to: (i) sexually explicit materials; (ii) obscene, defamatory, libelous, slanderous, violent and/or unlawful content or profanity; (iii) content that infringes upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary right, or that is deceptive or fraudulent; (iv) content that promotes the use or sale of illegal or regulated substances, tobacco products, ammunition and/or firearms; and (v) gambling, including without limitation, any online casino, sports books, bingo or poker.
        <br />
        5. Warranty
        <br />
        Trendicity disclaims all warranties about the Trendicity App to the fullest extent permitted by law. To the extent any warranty exists under law that cannot be disclaimed, Trendicity, not Apple, shall be solely responsible for such warranty.
        <br />
        6. Maintenance and Support
        <br />
        Trendicity does provide minimal maintenance or support for it but not to the extent that any maintenance or support is required by applicable law, Trendicity, not Apple, shall be obligated to furnish any such maintenance or support.
        <br />
        7. Product Claims
        <br />
        Trendicity, not Apple, is responsible for addressing any claims by you relating to the Trendicity App or use of it, including, but not limited to: (i) any product liability claim; (ii) any claim that the Trendicity App fails to conform to any applicable legal or regulatory requirement; and (iii) any claim arising under consumer protection or similar legislation. Nothing in this Agreement shall be deemed an admission that you may have such claims.
        <br />
        8. Third Party Intellectual Property Claims
        <br />
        Trendicity shall not be obligated to indemnify or defend you with respect to any third party claim arising out or relating to the Trendicity App. To the extent Trendicity is required to provide indemnification by applicable law, Trendicity, not Apple, shall be solely responsible for the investigation, defense, settlement and discharge of any claim that the Trendicity App or your use of it infringes any third party intellectual property right.
        </div>
        <button class="button button-block" ng-click="acceptEula()">Accept</button>
    </ion-content>
</ion-modal-view>