<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Favorite</h1>
    <button class="button button-clear button-dark" ng-click="hideModalAddFavorite()">Cancel</button>
  </ion-header-bar>
  <ion-content>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">City</span>
      <input type="text" placeholder="Dallas" ng-model="favorite.city">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">State or Country</span>
      <input type="text" placeholder="TX" ng-model="favorite.region">
    </label>
    <button class="button button-block button-positive activated" ng-click="addFavorite(favorite)">Submit</button>
  </div>
  </ion-content>
</ion-modal-view>