<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/home/map">
          <i class="icon ion-home"></i>
          Home
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/favorites">
          <i class="icon ion-star"></i>
          Favorites
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/app/intro">
          <i class="icon ion-ios7-information"></i>
          About
        </ion-item>
        <div ng-hide="isLoggedIn()">
            <ion-item nav-clear menu-close class="item-icon-left" ng-click="login()">
                <i class="icon ion-log-in"></i>
                Login
            </ion-item>
        </div>
        <div ng-show="isLoggedIn()">
            <ion-item nav-clear menu-close class="item-icon-left" ng-click="logout()">
                <i class="icon ion-log-out"></i>
                Logout
            </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
