<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.home.map" ui-sref-opts="{reload: true}">
          <icon ios="ion-ios7-home" default="ion-home"></icon>
          Home
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.favorites">
          <icon ios="ion-ios7-star" default="ion-star"></icon>
          Favorites
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="app.intro">
          <icon ios="ion-ios7-information" default="ion-information-circled"></icon>
          About
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="login()" ng-hide="isLoggedIn()">
            <i class="icon ion-log-in"></i>
            Login
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ng-click="logout()" ng-show="isLoggedIn()">
            <i class="icon ion-log-out"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
