<ion-view title="Card View">
    <ion-content class="has-header padding" scroll="false">
        <h3>User Feed - Swipe left for dislike, Swipe right for like</h3>

        <td-cards>
            <td-card ng-repeat="post in userFeedPosts" on-destroy="cardDestroyed($index)"
                     on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
                     class="card-{{$index}}" ng-controller="CardCtrl">
                <div class="image">
                    <div class="no-text">NOPE</div>
                    <img ng-src="{{ post.images.thumbnail.url }}" />
                    <div class="yes-text">LIKE</div>
                </div>
            </td-card>
        </td-cards>

    </ion-content>
</ion-view>
