<ion-view title="Card View">
    <ion-content class="has-header padding" scroll="false">
        <h3 style="text-align: center">Swipe left for dislike, Swipe right for like</h3>
        <td-cards>
            <td-card ng-repeat="post in posts" on-destroy="cardDestroyed($index)"
                     on-transition-left="cardTransitionedLeft($index)" on-transition-right="cardTransitionedRight($index)"
                     ng-controller="CardCtrl">
                <div class="image">
                    <div class="no-text">NOPE</div>
                    <img ng-src="{{ post.images.thumbnail.url }}" />
                    <div class="yes-text">LIKE</div>
                </div>
            </td-card>
        </td-cards>

    </ion-content>
</ion-view>
